<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evyemekleri">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".fragment.fragment_bagli_activity.profil.SiparislerimActivity"></activity>
        <activity android:name=".fragment.fragment_bagli_activity.profil.AdreslerimActivity" />
        <activity android:name=".fragment.activity_bagli_activity.SiparisActivity" />
        <activity android:name=".fragment.activity_bagli_activity.YorumlarActivity" />
        <activity android:name=".fragment.activity_bagli_activity.anasayfa.ProfilDetayActivity" />
        <activity android:name=".fragment.fragment_bagli_activity.profil.FavorilerimActivity" />
        <activity
            android:name=".fragment.fragment_bagli_activity.anasayfa.UrunDetayAcitivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".fragment.activity_bagli_activity.UrunDuzenleActivity" />
        <activity
            android:name=".fragment.fragment_bagli_activity.profil.UrunlerimActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AnaEkranActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".fragment.fragment_bagli_activity.YeniSifreActivity" />
        <activity android:name=".SifremiUnuttumActivity" />
        <activity
            android:name=".UyeEkran"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>